@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html:has(.drawer-toggle:checked) {
  scrollbar-gutter: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4F200D transparent;
}

* :hover{
  scrollbar-color: #4F200D transparent;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

.lifegit-button {
  min-width: 100px;
  height: 40px;

}

@layer utilities {
    .w-fixed-sidebar {
        width: 260px !important;
    }

    .overflow-y-hidden-important {
      overflow-y: hidden !important;
    }

  }

  @layer components {
    .btn {
      min-height: auto;
    }
  }