@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html:has(.drawer-toggle:checked) {
  scrollbar-gutter: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4F200D transparent;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

.w-fixed-sidebar :hover{
  scrollbar-color: #935941 transparent;
}

@layer utilities {
    .w-fixed-sidebar {
        width: 260px !important;
    }

    .overflow-y-hidden-important {
      @apply overflow-y-hidden;
      overflow-y: hidden !important;
    }

  }

  @layer components {
    .btn {
      min-height: auto;

    }
  }